.vscode/

*.bak

.env
.env.*

.TODO

logs/
*.log

*.jpg 
*.png

Procfile
*.unuse_yml

# reactjs
node_modules/
package.json
package-lock.json

# testing
src/coverage

# production
src/build

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# python
__pycache__/


# docker - mongodb
mongo/data/
mongo/mongo.tar.gz
