@import url(https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&family=Poor+Story&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=M+PLUS+1+Code:wght@100..700&family=Nanum+Gothic&family=Poor+Story&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=M+PLUS+1+Code:wght@100..700&family=Nanum+Gothic&family=Poor+Story&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap);


$consolas: Consolas, monaco, monospace;
$roboto_mono: "Roboto Mono", monospace;

$nanum_pen: "Nanum Pen Script", cursive;
$black_hans: "Black Han Sans", sans-serif;
$poor_story: "Poor Story", system-ui;
$mplus: "M PLUS 1 Code", monospace;
